{% extends '../base.html' %}
{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <span class="title-name">AMOLDESC</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex ms-auto w-50" role="search" action="#" method="GET">
                <input class="form-control me-2" type="text" placeholder="Search" name="ele" aria-label="Search">
                <button class="btn btn-dark" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

{% endblock %}