{% extends 'navbar/default.html' %}
{% load static %}
{% block staticfiles %}
<link rel="stylesheet" type='text/css' href="{% static 'css/background.css' %}">
<link rel="stylesheet" type='text/css' href="{% static 'css/landingpages/about.css' %}">
<link rel="stylesheet" type='text/css' href="{% static 'css/glassmorphism.css' %}">
{% endblock %}
{% block main %}

<div class="container px-4 text-center main-content bg">
    <div class="project-title">AMOLDESC</div>
    <div class="project-des">Amrita Molecular Descriptor Calculator</div>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">A powerful molecular descriptor calculator along with ADMET prediction and fingerprint
            generator providing comprehensive numerical representations of chemical compounds, enabling efficient
            analysis aiding in drug discovery and computational chemistry applications.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <form action="{% url 'search' %}">
                <button type="submit" class="btn btn-dark btn-lg px-4 gap-3">Go To App</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}