{% extends 'navbar/default.html' %}
{% load static %}

{% block staticfiles %}
<link rel="stylesheet" type='text/css' href="{% static 'css/background.css' %}">
<link rel="stylesheet" type='text/css' href="{% static 'css/glassmorphism.css' %}">
<link rel="stylesheet" type='text/css' href="{% static 'css/landingpages/cards.css' %}">
{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="card-border-top mx-auto">
                </div>
                <img src="{% static 'images/Abhidev.jpeg' %}" class="mx-auto mt-5" alt="" height="200px" width="200px">
                <span>Abhidev S P</span>
                <div class="details text-center mt-3">
                    <div class="roll">
                        AM.SC.U3CDS20001
                    </div>
                    <div class="college">
                        Amrita Vishwa Vidyapeetham
                    </div>
                    <div class="campus">
                        Amritapuri Campus
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="card-border-top mx-auto">
                </div>
                <img src="{% static 'images/Arundhathi.jpg' %}" class="mx-auto mt-5" alt="" height="200px" width="200px">
                <span>Arundhathi P</span>
                <div class="details text-center mt-3">
                    <div class="roll">
                        AM.SC.U3CDS20017
                    </div>
                    <div class="college">
                        Amrita Vishwa Vidyapeetham
                    </div>
                    <div class="campus">
                        Amritapuri Campus
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="card-border-top mx-auto">
                </div>
                <img src="{% static 'images/Nived.jpeg' %}" class="mx-auto mt-5" alt="" height="200px" width="200px">
                <span>Nived K K</span>
                <div class="details text-center mt-3">
                    <div class="roll">
                        AM.SC.U3CDS20038
                    </div>
                    <div class="college">
                        Amrita Vishwa Vidyapeetham
                    </div>
                    <div class="campus">
                        Amritapuri Campus
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="card-border-top mx-auto">
                </div>
                <img src="{% static 'images/Vijayalakshmi.jpeg' %}" class="mx-auto mt-5" alt="" height="200px" width="200px">
                <span>Vijayalekshmi G</span>
                <div class="details text-center mt-3">
                    <div class="roll">
                        AM.SC.U3CDS20054
                    </div>
                    <div class="college">
                        Amrita Vishwa Vidyapeetham
                    </div>
                    <div class="campus">
                        Amritapuri Campus
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}